*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --primary-background: #082f49;
    --primary-text: #f5f5f4;
    --primary-card: #164667;
}
body{
    overflow-x: hidden;
}